body {
    background-color: rgb(249, 246, 244);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.fixed-header {
    position: fixed;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.02);
    backdrop-filter: saturate(185%) blur(10px);
    box-shadow: 0 5px 10px rgba(2, 81, 87, 0.1);
}

.first-section-container {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.logo {
    width: 10%;
    height: auto;
}

.logo.matcha {
    width: 30%;
}

.matcha-logo-full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 10%;
}

.matcha-logo-text {
    margin: 0;
    width: 9rem;
}

.nav-bar {
    display: flex;
    padding-top: 2.4rem;
    align-items: center;
    justify-content: center;
    gap: 8.6rem;
}

.btn {
    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    background-color: rgb(106, 191, 74);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}


.btn.btn.free-trial,
.btn.free-trial:active,
.btn.free-trial:visited {
    text-decoration: none;
}

ul {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    margin: 0;
    margin-right: 8.2rem;
    padding: 0;
    gap: 3.2rem;
    list-style: none;
}

.sign-in {
    padding-left: 3.4rem;
}

.header-link,
.header-link:active,
.header-link:visited,
.sign-in {
    text-decoration: none;
    color: rgb(46, 90, 29);
}

.header-link:hover {
    color: rgb(106, 191, 74);
}

.logo.matcha {
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
    row-gap: 1.4rem;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(2, 81, 87);
    font-size: 3.2rem;
    text-align: center;
}

p {
    color: rgb(70, 72, 76);
    padding: 1.4rem;
    font-size: 1.4rem;
    text-align: center;
}

button {
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
    padding: 0 2.4rem;
}

input {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 25px 0px 0px 25px;
    border: none;
    border-color: #fff;
    padding: 0.6rem 4.2rem;
    box-shadow: 0px 0px 5px rgba(2, 81, 87, 0.3) inset;
    background-color: rgba(255, 111, 0, 0.034);
}

input::placeholder {
    color: rgb(171, 171, 171);
    font-weight: 400;
}

button {
    font-size: 1rem;
    padding: 0.71rem 2.4rem;
    border: none;
    color: white;
    background-color: rgb(2, 81, 87);
    border-radius: 0px 25px 25px 0px;
}

button:hover {
    background-color: rgb(74, 135, 139);
    /* box-shadow: 0 10px 5px rgba(2, 81, 87, 0.1); */
}


.logo.capterra {
    display: block;
    width: 15%;
}

.group-image {
    text-align: center;
    margin-top: 4.2rem;
    width: 90%;
    height: auto;

}

.side-by-side-container {
    margin-top: 4.2rem;
    width: 85rem;
    display: flex;
    align-items: center;
    gap: 8.2rem;
}

.side-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    margin: 0;
    flex: 1 1 auto;
    row-gap: 1.4rem;
}

.side-text-header {
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(2, 81, 87);
    font-size: 2.6rem;
    text-align: center;
    text-align: left;
    margin: 0;
}

.side-text-parragraph {
    text-align: left;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.youtube-video {
    flex: 2 0 auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(2, 81, 87, 0.3);
}

.mid-form {
    padding: 0;
}

.second-section {
    display: flex;
    margin-top: 2.4rem;
    align-content: center;
    justify-content: center;
}